<!DOCTYPE html>
<html>
    <head>
        <title>Daily note help page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font: 16px arial, sans-serif;
            }            
            h3 {
                font: 20px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
            h4 {
                font: 18px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
        </style>    
    </head>
    <body>
        <div>
            <h3>Daily Notes: Help</h3>
            <h4>General Description</h4>
            <p>This window allows a patient to perform simple operations with notes. 
                The patient will be able to create, read, update, and delete notes
                from the application. There is also an option to generate a review 
                of the notes shown on the table</p>
            <h4>Behaviour</h4>
            <b>Search daily notes</b>
            <p>To search a daily note you will need to focus on the top part 
                of the window</p>
            <img src="../../resources/dailyNote/dailyNoteR.png" alt="" height="324" width="722">
            <p>Frist select a search method, <u>Find all notes by patient</u> will 
                be selected but can be changed. When selecting <u>Find note by date</u> the 
                <u>Date start</u> field will enable and it will need to be filled, when selecting 
                <u>Find all patient notes between dates</u> the <u>Date start</u> and <u>Date start</u> 
                fields will enable, when selecting <u>Find all patient notes between day scores</u> the 
                <u>Day score bottom</u> and <u>Day score top</u> fields will enable. All the other 
                methods dont need any field to be filled.
                In order to activate the search button the requested fields will have to be filled 
                it will need to be filled in order to activate.
                Once the actions mentioned above are finished, click on the <b>Search</b> button.
                If there is no error the daily notes will apear on the table shown in the window.</p>
            <b>Create daily notes</b>
            <p>To create a daily note you will need to focus on the bottom part 
                of the window</p>
            <img src="../../resources/dailyNote/dailyNoteCUD.png" alt="" height="216" width="722">
            <p>The <u>Note Date</u> will already have inserted that days date,
                after that you should insert that days score as a number between 1 and 10 in the 
                <u>Day score</u> field, works with decimals as well, if the score is inserted 
                manualy instead of by using the arrows, you will need to confirm the operation 
                with an intro. Then there is an optional check called <u>Readable by psychologist</u> 
                wheter you want the psychologist to be able to see that note or not, after that
                the <u>How was your day?</u> field needs to be filled, with a description of your day 
                Once the actions mentioned above are finished, click on the <b>Add</b> button.
                If there is no error the daily note will apear on the table shown in the window.</p>
            <b>Update daily notes</b>
            <p>To modify the data of a note you must select a note from the table, after having 
            	made a search, and all the data of that note will be loaded in the same fields as the 
            	creation of the notes, those same fields can be modified, except from <u>Note status</u>
                and <u>Comment of psychologist</u>.
                Once the fields are modified, you must press the <b>Modify</b> button, if no errors 
                are shown the modifications will apear in the table above.</p>
            <b>Delete daily notes</b>
            <p>To modify the data of a note you must select a note from the table, after having 
            	made a search, then press the <b>Delete</b>, this action will ask for a confirmation
                If you confirm the deletion and no error is shown, the table will be refreshed.</p>
            <b>Print daily notes</b>
            <p>Pressing the <b>Print</b> button will pop up a document showing the notes on the table.
                You can print or store the report using the buttons at the top of the window.</p>
            <b>Exit the aplication</b>
            <p>Pressing on your user dni on the manu bar and then pressing log out.</p>
            <b>Help</b>
            <p>Pressing on <b>Help</b> on the manu bar and then pressing <b>Help Daily Notes</b>.</p>
        </div>
    </body>
</html>