<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Help page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font: 16px arial, sans-serif;
            }            
            h3 {
                font: 20px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
            h4 {
                font: 18px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
        </style>    
    </head>
    <body>
        <div>
            <h3>Administrator Management: Help</h3>
            <h4>General description</h4>
            <p>El administrador podrá mediante los controles
            de los que dispone la ventana buscar y eliminar las mental diseases de 
            la aplicación. Así mismo podrá generar un informe que contiene un listado 
            de las mental diseases con sus correspondientes datos.</p>
            <h4>Operaciones</h4>
            <strong>Create a mental disease</strong>
            <p>Para crear un mental disease, deberá seleccionar el botón de 
            <strong>Create</strong>, que le llevará a otra ventana que le 
             permitirá crear. 
            <strong>Modify a mental disease</strong>
            <p>Para modificar un mental disease, deberá seleccionar de la tabla 
            la mental disease que desee modificar y pulsar el botón de 
            <strong>Modify</strong>, que le llevará a otra ventana que le 
             permitirá modificar. 
            <strong>Delete a mental diseases</strong>
            <p>Para eliminar un mental disease deberá seleccionar el que quiera 
            de la tabla y pulsar en el botón de <strong>Delete</strong>. Si no 
            se produce ningún error, se le pedirá una confirmación para borrar 
            el mental disease deseado. Si se confirma el borrado se eliminará el 
            mental disease y se actualizará la tabla de mental disease que se 
            muestra en la ventana.</p>
            <strong>Search mental disease data</strong>
            <p>Para buscar los datos de un mental disease primero deberá 
            seleccionar en el combobox como quiere buscarlo, si por el ID o por 
            el nombre. Cuando ya sepa que quiere buscar, le tendrá que pulsar en 
            el botón de <strong>Search</strong>, si no sale ningún error, la 
            tabla se actualizará con el mental disease que quiere encontrar. 
            Si no se encuentra, saldra un error de no encontrado.
            <strong>Imprimir listado de mental disease</strong>
            <p>Pulsando el botón <strong>Print</strong> se abrirá una ventana 
            donde puede ver un documento que contiene un listado de las 
            mental disease que existen en la aplicación. Mediante los botones de 
            la parte superior de la ventana podrá imprimir o almacenar dicho 
            informe.</p>
            <strong>Exit the application</strong>
            <p>Pulsando el botón <strong>Sign Off</strong> se le preguntará si 
            quiere cerrar sesión o salir de la aplicación. Si se quiere cerrar 
            sesión, se abrirá la ventana de iniciar sesión. Si se quiere cerrar 
            la aplicación, se cerrará la aplicación.</p>
        </div>
    </body>
</html>
