<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Help page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font: 16px arial, sans-serif;
            }            
            h3 {
                font: 20px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
            h4 {
                font: 18px arial, sans-serif;
                text-decoration: underline;
                font-weight: bold;
            }            
        </style>    
    </head>
    <body>
        <div>
            <h3>Administrator Management: Help</h3>
            <h4>General description</h4>
            <p>El administrador podrá mediante los controles
            de los que dispone la ventana crear y modificar las mental diseases de 
            la aplicación.</p>
            <h4>Operations</h4>
            <strong>Create a mental disease</strong>
            <p>Para crear un mental disease, tendrá que añadir un nombre, una 
            descripción y los síntomas en los campos correspondientes. Una vez 
            estén todos los campos validados, el administrador podrá pulsar en 
            el botón de <strong>Create</strong>. Si no se produce ningún error, 
            se creará el mental disease.
            <strong>Modify a mental disease</strong>
            <p>Para modificar un mental disease, tendrá que cambiar el campo que 
            quiera y pulsar el botón <strong>Modify</strong>. Saldrá una 
            confirmación que le preguntará si quiere modificarlo. Si es afirmativa
            y no se produce ningún error se modificará la mental disease.
            <strong>Go back</strong>
            <p>Pulsando el botón <strong>Go back</strong> se abrirá la anterior 
            ventana.</p>
            <strong>Exit the application</strong>
            <p>Pulsando el botón <strong>Sign Off</strong> se le preguntará si 
            quiere cerrar sesión o salir de la aplicación. Si se quiere cerrar 
            sesión, se abrirá la ventana de iniciar sesión. Si se quiere cerrar 
            la aplicación, se cerrará la aplicación.</p>
        </div>
    </body>
</html>
