<!DOCTYPE html>
<html>
     <head>
         <title>Help page</title>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <style>
             body {
                 font: 16px arial, sans-serif;
             }
             h3 {
                 font: 24px arial, sans-serif;
                 font-weight: bold;
             }
             h4 {
                 font: 18px arial, sans-serif;
                 font-weight: bold;
             }
         </style>
     </head>
     <body>
         <div>
             <h3>Appointment Management: Help</h3>
             <img src="help.png" alt="Appointment management window."/>
             <h4>Overview</h4> 
             <p>This window allows you to carry out  Basic maintenance of appointment data.
             The user will be able to create, update, delete  and  exit from the appointment window. You can also generate a report containing a list
             of the appointments with their corresponding data.</p>
             
             <h4>Operations</h4>
             
             <strong>Create appointments</strong>
             <p>To create a appointments you must enter Date, Patient DNI, Psychologist DNI in input
             corresponding fields. You can select the appointment Change if you want to change appointment.
             you must press the <strong>Create</strong> button
             to create the appointments. If no error occurs, the appointments will be created and appear in the
             appointments table displayed in the window.</p>
             
             <strong>Update appointments</strong>
             <p>To update the data of a appointments, you must first select the appointments
             by clicking on the desired row of the users table. The input fields of the
             window will be informed with the data of the selected appointments. These fields can be
             use to update appointments data.
             Once the previous actions have been carried out, you must press the <strong>Update</strong> button
             to finish the operation. If no error occurs, the data will be update
             of the appointments and the updated data of the appointments will appear in the table of appointments that is
             shows in the window.</p>
             
             <strong>Delete appointments</strong>
             <p>To delete a appointments you must select the appointments to delete
             by clicking on the desired row of the appointments table. Then click on the button
             <strong>Delete</strong>, and you will be prompted for confirmation to delete the appointments.
             If you confirm the deletion and no error occurs, the appointments will be deleted and updated
             the appointments table displayed in the window.</p>
             
             <strong>Print list of appointments</strong>
             <p>Pressing the <strong>Print</strong> button will open a window where you can see a document
                 which contains a list of appointments that exist in the application:<br><br>
                 <img src="report.png" alt="Appointment Report Window"/><br><br>
             Using the buttons at the top of the window you can print or store the report.</p>
             
             <strong>Exit the application</strong> 
             <p>Pressing the <strong>Exit</strong> button will close the application.</p>
             
             <strong>Help</strong>
             <p>By clicking the <strong>Help</strong> button you will see this help document.</p>
             
         </div>
         
     </body>
     
</html>